.productDetail{
    display: flex;
    justify-content: center;
}
.productDisplayLeft{
    display: flex;
    gap:17px
}
.productDisplayImgList{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productDisplayImgList img{
    height: 163px;
}
.productDisplayMainImg{
    width: 586px;
    height: 700px;
}

.productDisplayRight{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productDisplayRight h1{
    font-size: 40px;
    font-weight: 700;
}
.productDisplayRightStars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    font-size: 16px;
}
.productDisplayRightPrice{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productDisplayRightSize{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}

.productDisplayRightSize div{
    padding: 18px 24px;
    background: rgb(126,3,8);
    border: 1px solid rgb(88,2,2);
    border-radius: 3px;
    cursor: pointer;
}
.productDisplayRight button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #FF4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productDisplayRightCategory{
    margin-top: 10px;
}
.productDisplayRightCategory span{
    font-weight: 600;
}