.productDetail{
    display: flex;
    justify-content: center;
}
/* Left */
.productDisplayLeft{
    display: flex;
    gap:17px
}
.productDisplayImgList{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productDisplayImgList img{
    height: 163px;
    background-color: rgb(126,3,8);
    cursor: pointer;
}
.productDisplayMainImg{
    width: 586px;
    height: 600px;
}
/* Right */
.productDisplayRight{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productDisplayRight h1{
    font-size: 40px;
    font-weight: 700;
}
.productDisplayRightPrice{
    display: flex;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productDisplayRight button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #FF4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productDisplayRightCategory{
    margin-top: 10px;
}
.productDisplayRightCategory span{
    font-weight: 600;
}
.productDisplayRightDescription{
    height: 200px;
    width: 50%;
    background-color: rgb(126,3,8);
}
/* Button */
.buttonBuyProductDetail{
    margin-right: 4%;
}